body {
    margin: 0;
}

.gtt {
    position: fixed;
    width: calc(100% - 80px);
    bottom: 20px;
    z-index: 3500000;
    height: 20vh;
    left: 40px;
    height: 300px;
    border: 2px solid red;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
}

.bff {
    position: relative;
    height: 300px;
    ;
}

.gantt .bar {
    fill: var(--project-color);
    rx: 10;
    ry: 10;
}

.gantt .bar-wrapper.active .bar {
    fill: var(--project-color);
    filter: brightness(50%);
}